<%- include('admin_partials/header') %>
<%- include('admin_partials/sidebar') %> 
<style>
    .change::file-selector-button{
           
        border: none;
        color: forestgreen;
        background-color: white;
           
    }
    #coverPhoto{
        width:80%;
        border-radius: 4px;
        box-shadow: 4px lightgray;
        margin-left:10%;
    }
 </style>

            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title app-page-title-simple">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div>
                                    <div class="page-title-head center-elem">
                                        <span class="d-inline-block pr-2">
                                            <i class="lnr-apartment opacity-6"></i>
                                        </span>
                                        <span class="d-inline-block">HighHill Dashboard</span>
                                    </div>
                                    <div class="page-title-subheading opacity-10">
                                        <nav class="" aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a>
                                                        <i aria-hidden="true" class="fa fa-home"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                    <a href="/dashboard">Dashboards</a>
                                                </li>
                                                
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>     
                    <div id="msg"></div>
            
                        
                    <div class="row">
                        <div class="col-sm-12 col-md-7 col-lg-12">
                            <div class="mb-3 card">
                                <div class="card-header-tab card-header">
                                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Book Upload
                                    </div>
                                    
                                </div>
                                <div class="pt-0 card-body">
                                    <br>
                                    <a href="" class="btn btn-outline-success" >Uplaod Books</a>
                                   <form id="books" enctype="multipart/form-data" style="margin-top:2%">
                                    <div id="msg"></div>
                                     <div class="row">
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                               <label for=""> Book Title</label>
                                               <input type="text" class="form-control" id="title" name="title">
                                            </div>
                                        </div> 
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                               <label for="">Author</label>
                                               <input type="text" class="form-control" id="author" name="author">
                                            </div>
                                        </div> 
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <label for="">Upload Books( PDF only )</label>
                                               <input type="file" name="book_upload" id="book_upload" class="form-control">
                                            </div>
                                        </div> 


                                     </div>
                                     <div class="btn-actions-pane-right text-capitalize">
                                        <button type="submit" class="btn btn-warning" style="float: right;">Save</button>
                                    </div>
                                   </form>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-12 col-md-7 col-lg-12">
                            <div class="mb-3 card">
                                <div class="card-header-tab card-header">
                                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Welcome TEXT
                                    </div>
                                    
                                </div>
                                
                                <div class="pt-0 card-body">
                                    <table style="width: 100%;" id="example"
                                    class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            
                                            <th>Title</th>
                                            <th> Book image</th>
                                            <th>Author</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                       <% Books.forEach(function(book) { %>
                                        <tr>
                                            <td><%= book.title %></td>
                                            <td style="width:30%;">
                                                <img src="uploads/1741447723118.png" alt="PDF Cover" class="cover" style="width:40%;">
                                            </td>
                                            <td><%= book.author  %></td>
                                            <td>
                                                <button type="button" class="btn mr-2 mb-2 btn-outline-primary" data-toggle="modal"
                                                data-target="#exampleModal">
                                                edit
                                              </button>
                                        </td>
                                            <td><button class="btn btn-outline-danger" id="delete_audio_cover" data-id="<%= book._id %>" >delete</button></td>
                                        </tr>
                                       <% }) %>
                                        
                                       
                                    </tbody>
                                    
                                </table>
                                   
                                </div>
                            </div>

                            
                        </div>
                        

                         
                        
                    </div>
                
                </div>
                
                <%- include('admin_partials/footer') %>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">UPDATE COVER PHOTO </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form id="audio_cover_photo">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                       <label for="">cover Photo</label>
                                       <input type="file" class="form-control" id="audio_cover" name="audio_cover">
                                    </div>
                                </div> 
                            </div>
                         
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                       </form>
                      </div>
                    </div>
                  </div>